<div class="container-search">
    <form action="">
        <div class="input-group mb-3 search-box">
            <input type="search" class="form-control" placeholder="Pesquise por um carro" aria-label="Pesquise por um carro"
                aria-describedby="button-addon2" [(ngModel)]="valorInput" name="valorInput">
            <button class="btn btn-primary" type="submit" id="button-addon2" (click)="searchCarros()" data-target="#exampleModalCenter"><i class="bi bi-search"></i></button>
        </div>
    </form>
</div>

