
.container-search{
    width: 18.75rem;
    height: 5rem;
    padding: 0.625rem;
    form{
        width: 100%;
        height: auto;
    
        .search-box{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding: 0.625rem;

            input{
                border: none;
                outline: none;
                cursor: pointer;
                border-bottom: blue 0.125rem solid;
            }

            button{
                background-color: transparent;
                outline: none;
                border: none;
                background-color: blue;
                border-radius: 0.625rem;
            }
        }
    }
}